extends layout
block main
    if(currentUser)
        link(href="/stylesheets/creative.min.css" rel="stylesheet")
        header
            .header-content
                .header-content-inner
                    h1#homeHeading Take a new trip with HunBnB
                    |                 
                    hr
                    |                 
                    p
                        | Start your's new trip and enjoy your life
                    |                 
                    a.btn.btn-primary.btn-xl.page-scroll(href='/host/#{currentUser._id}/index') Let's Hosting
        |     
        section#about.bg-primary
            .container
                .row
                    .col-lg-8.col-lg-offset-2.text-center
                        h2.section-heading Enjoy my one's trip
                        |                     
                        hr.light
                        |                     
                        p.text-faded
                            | Start HunBnB has everything you need to get your new trip and hosting your room 
        
        section
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading 원하는 여행지를 검색하세요.
                            p
                                form(action = '/search', method = 'POST')   
                                    .form.group
                                        input.form-control(type='text', id='q', name = 'q', size=20, placeholder='목적지,도시명,주소')
                                        i.fa.fa-spin.fa-spinner
                                        ul.suggest-box
                                        button.btn.btn-primary(type='submit') 숙소검색 
                                script(src='/javascripts/search.js')
                                
                                //- .row
                                //-     label(for = 'count') 인원
                                //-         select.form-control(name='count')
                                //-             option(selected value='1') 1
                                //-             option(value='2') 2
                                //-             option(value='3') 3
                                //-             option(value='4') 4
                                //-             option(value='5') 5
                                //-             option(value='6') 6
                                //-             option(value='7') 7
                                //-             option(value='8') 8
                                //-             option(value='9') 9
                                //-             option(value='10') 10
                                //-             option(value='11') 11
                                //-             option(value='12') 12    
     
                                //-     laber 날짜
                                //-     input(type = 'date', id = 'startdate', name = 'startdate')
                                //-     input(type = 'date', id = 'deaddate', name = 'deaddate')    
                                     
                                      
        
        section#portfolio
            .container
                .row
                    .col-lg-12.text-center
                        h2 Hosting List
                        |                     
                        hr.star-primary
                |             
                .row#list
                    each host in hosts
                        .col-sm-4.portfolio-item
                            a.portfolio-link(href='/host/#{host.id}/detail', data-toggle='modal')
                                .caption
                                    .caption-content
                                        p 예약 수 #{host.reservation_count}                      
                                img.img-responsive#mainimg(src='#{host.picturePath}', alt = 'picture') 

                nav.center
                    ul.pagination
                        li(class=pagination.firstPage.cls): a(href=pagination.firstPage.url)
                            span(aria-hidden="true") &laquo;
                        li(class=pagination.prevPage.cls): a(href=pagination.prevPage.url)
                            span(aria-hidden="true") &lt;
                        each page in pagination.pages
                            li(class=page.cls)
                                a(href=page.url): span= page.text
                        li(class=pagination.nextPage.cls): a(href=pagination.nextPage.url)
                            span(aria-hidden="true") &gt;
                        li(class=pagination.lastPage.cls): a(href=pagination.lastPage.url)
                            span(aria-hidden="true") &raquo;

                                
                                        
                   
              

    else
        link(href="/stylesheets/creative.min.css" rel="stylesheet")
        header
            .header-content
                .header-content-inner
                    h1#homeHeading Take a new trip with HunBnB
                    |                 
                    hr
                    |                 
                    p
                        | Start your's new trip and enjoy your life
        |     
        section#about.bg-primary
            .container
                .row
                    .col-lg-8.col-lg-offset-2.text-center
                        h2.section-heading Enjoy my one's trip
                        |                     
                        hr.light
                        |                     
                        p.text-faded
                            | Start HunBnB has everything you need to get your new trip and hosting your room 