extends ../layout
block main
    link(href="/stylesheets/freelancer.min.css" rel="stylesheet")
    .container         
            
              .row#row
                  .col-lg-8.col-lg-offset-2
                      .modal-body
                          h2= host.title
                          |                             
                          hr.star-primary
                          |                             
                          img.img-responsive(src='/#{host.picturePath}', alt = 'picture')
                          p
                            sapn 도시 : #{host.city}                             
                          p
                            sapn 주소 : #{host.address}
                          p
                            sapn 주소번호 : #{host.addressnumber}
                          p
                            sapn 요금 : #{host.cost}
                          p
                            sapn 편의시설 : #{host.market}  
                          p
                            sapn 이용규칙 : #{host.rule}  
                          p
                            sapn 설명 : #{host.content}

                          p
                            sapn 최대 숙박 인원 : #{host.count}
                          p
                            span 호스팅 날짜 : #{moment(host.createdAt).format('YYYY-MM-DD HH:mm:ss')}          
                          p  
                            span 예약 가능 날짜 : #{moment(host.startdate).format('YYYY-MM-DD') + "부터" + moment(host.deaddate).format('YYYY-MM-DD')}
                          p                     
                            button.btn.btn-default(type='button', data-dismiss='modal')
                              i.fa.fa-times
                              a(href='/')  Close

              .row
                //script(src='//apis.daum.net/maps/maps3.js?apikey=f5d6b2997da77f349318f9d55088c536')
                script.
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                    mapOption = {
                    center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                    level: 5 // 지도의 확대 레벨
                    };
                    //지도를 미리 생성
                    var map = new daum.maps.Map(mapContainer, mapOption);
                    //주소-좌표 변환 객체를 생성
                    var geocoder = new daum.maps.services.Geocoder();
                    //마커를 미리 생성
                    var marker = new daum.maps.Marker({
                    position: new daum.maps.LatLng(37.537187, 127.005476),
                    map: map
                    });
                    function sample5_execDaumPostcode() {
                    // 주소로 좌표를 검색
                    geocoder.addr2coord('#{host.address}', function(status, result) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {
                    // 해당 주소에 대한 좌표를 받아서
                    var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);
                    // 지도를 보여준다.
                    mapContainer.style.display = "block";
                    map.relayout();
                    // 지도 중심을 변경한다.
                    map.setCenter(coords);
                    // 마커를 결과값으로 받은 위치로 옮긴다.
                    marker.setPosition(coords)
                    }
                    });
                    }
                    }).open();
                    }
                 
             .row
                if(currentUser.root)
                  h3 댓글
                  table.table
                    tr
                      th Name
                      th Commnet
                      th time
                      

                    each comment in comments
                      tr
                        td= comment.guest_name
                        td= comment.comment
                        td= moment(comment.createdAt).format('YYYY/MM/DD')
                      tr
                        td= comment.root_comment
                        td.button.btn.btn-primary(data-id=comment.id, class='delete') 삭제   
                      tr
                          form.form-inline(action='/host/' + comments.id + '/detail', method='POST')
                              .form-group
                                input.form-control(name='root_comment', size=15, placeholder='comment')
                              button.btn.btn-info 답글저장
                        

                else if(currentUser)
                  h3 댓글
                  table.table
                    tr
                      th Name
                      th Commnet
                      th time

                    each comment in comments
                      tr
                        td= comment.guest_name
                        td= comment.comment
                        td= moment(comment.createdAt).format('YYYY/MM/DD')

                      tr
                        td= comment.root_comment

                  .row  
                      form.form-inline(action='/host/' + host.id + '/detail', method='POST')
                        .form-group
                          input.form-control(name='comment', size=50, placeholder='comment')
                        button.btn.btn-info 댓글저장
    

        .col-md-2.side
          include ./sidedetail


        
        form#deleteForm(style='display:none', method="POST")
                
        script(type='text/javascript').
            $(".delete").click(function(e) {
                var id = $(e.currentTarget).data('id');
                if (confirm('정말 삭제하시겠습니까?')) {
                $("#deleteForm").attr('action', "/host/" + id + "/commentdelete?_method=DELETE").submit();          
                }
                return false;
            });