extends ../layout

block main
  .container
    h1.page-header= host.title
    h2.page-header= host.user

    .row
      .col-sm-8
        img(src = '/images/main.jpg' class="img-responsive")
      
      
      .col-sm-2
        form.form-inline(action = '/room/update', method = 'POST')
            .form
              input.form-control(type ='date', id ='startline', name ='startline')
              input.form-control(type ='date', id ='deadline', name ='deadline')
      
            .actions
              button.btn.btn-primary(type='submit') 예약    
      
        

    
    .row
      .col-sm-8
        p
          sapn 주소 : #{host.address}
        p  
          sapn 요금 : #{host.cost}
        p
          sapn 편의시설 : #{host.market}
        p
          sapn 이용규칙 : #{host.rule}
        p
          span 호스팅 날짜 : #{moment(host.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
          
        p.well(style='white-space:pre;')= host.content
        
    .row
      .col-sm-3
        a.btn.btn-default(href='/') 메인으로 돌아가기      



        
