extends ../layout
block main
    link(href="/stylesheets/freelancer.min.css" rel="stylesheet")
    .container         
            
              .row#row
                  .col-lg-7.col-lg-offset-1
                      .modal-body
                          h2= host.title
                          |                             
                          hr.star-primary
                          |                             
                          img.img-responsive(src='/#{host.picturePath}', alt = 'picture')
                          p
                            sapn 도시 : #{host.city}                             
                          p
                            sapn 주소 : #{host.address}
                          p
                            sapn 주소번호 : #{host.addressnumber}
                          p
                            sapn 요금 : #{host.cost}
                          p
                            sapn 편의시설 : #{host.market}  
                          p
                            sapn 이용규칙 : #{host.rule}  
                          p
                            sapn 설명 : #{host.content}

                          p
                            sapn 최대 숙박 인원 : #{host.count}
                          p
                            span 호스팅 날짜 : #{moment(host.createdAt).format('YYYY-MM-DD HH:mm:ss')}          
                          p  
                            span 예약 가능 날짜 : #{moment(host.startdate).format('YYYY-MM-DD') + "부터" + moment(host.deaddate).format('YYYY-MM-DD')}
                                               
                          button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            a(href='/')  Close
                          form(action = '/host/#{host.id}/favorite', method = 'post')
                            button.btn.btn-default(type='submit', data-dismiss='modal', name = 'favorite') 즐겨찾기
                        


              .row
                .col-sm-4
                  #map(style='width:100%;height:350px;')
                  script(type='text/javascript', src='//apis.daum.net/maps/maps3.js?apikey=f5d6b2997da77f349318f9d55088c536&libraries=services')
                  script.
                      var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                      mapOption = {
                      center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                      level: 3 // 지도의 확대 레벨
                      };
                      // 지도를 생성합니다
                      var map = new daum.maps.Map(mapContainer, mapOption);
                      // 주소-좌표 변환 객체를 생성합니다
                      var geocoder = new daum.maps.services.Geocoder();
                      // 주소로 좌표를 검색합니다
                      geocoder.addr2coord('#{host.address}', function(status, result) {
                      // 정상적으로 검색이 완료됐으면
                      if (status === daum.maps.services.Status.OK) {
                      var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);
                      // 결과값으로 받은 위치를 마커로 표시합니다
                      var marker = new daum.maps.Marker({
                      map: map,
                      position: coords
                      });
                      // 인포윈도우로 장소에 대한 설명을 표시합니다
                      var infowindow = new daum.maps.InfoWindow({
                      content: '<div style="width:150px;text-align:center;padding:6px 0;"> #{host.title} </div>'
                      });
                      infowindow.open(map, marker);
                      // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                      map.setCenter(coords);
                      }
                      });


                 
             .row
              .col-sm-4
                if(currentUser.root)
                  h3 댓글
                  table.table
                    tr
                      th Name
                      th Commnet
                      th time
                      

                    each comment in comments
                      tr
                        td= comment.guest_name
                        td= comment.comment
                        td= moment(comment.createdAt).format('YYYY/MM/DD')
                      tr
                        td= comment.root_comment
                        td
                            a(href='/host/#{comment.id}/detail/comment') 답글달기
                        td.button.btn.btn-primary(data-id=comment.id, class='delete') 삭제
   
                else if(currentUser)
                  h3 댓글
                  table.table
                    tr
                      th Name
                      th Commnet
                      th time

                    each comment in comments
                      tr
                        td= comment.guest_name
                        td= comment.comment
                        td= moment(comment.createdAt).format('YYYY/MM/DD')

                      tr
                        td= comment.root_comment

                  .row  
                      form.form-inline(action='/host/' + host.id + '/detail', method='POST')
                        .form-group
                          input.form-control(name='comment', size=50, placeholder='comment')
                        button.btn.btn-info 댓글저장
    

        .col-md-4.side
          include ./sidedetail


        
        form#deleteForm(style='display:none', method="POST")
                
        script(type='text/javascript').
            $(".delete").click(function(e) {
                var id = $(e.currentTarget).data('id');
                if (confirm('정말 삭제하시겠습니까?')) {
                $("#deleteForm").attr('action', "/host/" + id + "/commentdelete?_method=DELETE").submit();          
                }
                return false;
            });