extends ../layout 

block main
    .container
        .row#row
            h1.pageTitle Management Hosting
            div
                ul.nav.nav-tabs(role = 'tablist')
                    li.active(role='presentation')
                        a(href='#list', data-toggle="tab") 등록된 방 목록
                    
                    li(role='presentation')
                        a(href='#reservation', data-toggle="tab") 예약 관리

                    li(role='presentation')
                        a(href='#updatereservaion', data-toggle="tab") 호스팅 승인된 목록
                    
                    li(role='presentation')
                        a(href='#endreservation', data-toggle="tab") 내가 예약한 방 목록

                    li(role='presentation')
                        a(href='#successreservation', data-toggle="tab") 예약 완료 목록
                    
                    


                .tab-content
                    #reservation.tab-pane(role = 'tabpanel')
                        table.table.table-striped.table-bordered
                            thead
                                tr
                                    th 숙소이름
                                    th 도시
                                    th 채크인 날짜
                                    th 채크아웃 날짜
                                    th 예약자 이름
                                    th 승인 여부
                            tbody
                                each roomlist in roomlists
                                    if !(roomlist.reservationState)   
                                        tr
                                            td
                                                a(href ='/host/#{roomlist.host_id}/simple_detail')= roomlist.room_title
                                            td= roomlist.room_city
                                            td= moment(roomlist.room_startdate).format('YYYY-MM-DD')
                                            td= moment(roomlist.room_deaddate).format('YYYY-MM-DD')
                                            td= roomlist.guest_name
                                            td
                                                form(action='/host/#{roomlist._id}/accept', method='POST')        
                                                    button.btn.btn-primary.btn-xs(type = 'submit')  승인
                                                    button.btn.btn-primary.btn-xs(data-id=roomlist.id, class='reject')  거절
                                                
                                    else if (roomlist.reservationState)
                                        tr
                                        td
                                            a(href ='/host/#{roomlist.host_id}/simple_detail')= roomlist.room_title
                                        td= roomlist.room_city
                                        td= moment(roomlist.room_startdate).format('YYYY-MM-DD')
                                        td= moment(roomlist.room_deaddate).format('YYYY-MM-DD')
                                        td= roomlist.guest_name
                                        td 승인됨             
              
                    #updatereservaion.tab-pane(role = 'tabpanel')
                        table.table.table-striped.table-bordered
                            thead
                                tr
                                    th 숙소이름
                                    th 도시
                                    th 채크인 날짜
                                    th 채크아웃 날짜
                                    th 예약자 이름
                                    th 취소 여부
                            tbody
                                each roomlist in roomlists
                                    if(roomlist.reservationState)
                                        tr
                                            td
                                                a(href ='/host/#{roomlist.host_id}/simple_detail')= roomlist.room_title
                                            td= roomlist.room_city
                                            td= moment(roomlist.room_startdate).format('YYYY-MM-DD')
                                            td= moment(roomlist.room_deaddate).format('YYYY-MM-DD')
                                            td= roomlist.guest_name
                                            td
                                                    button.btn.btn-primary.btn-xs(data-id=roomlist.id, class='delete') 취소  
                
                    #endreservation.tab-pane(role = 'tabpanel')
                        table.table.table-striped.table-bordered
                            thead
                                tr
                                    th 숙소이름
                                    th 도시
                                    th 채크인 날짜
                                    th 채크아웃 날짜
                                    th 취소 여부
                            tbody
                                each room in rooms
                                    if (!room.reservationState)
                                        tr
                                            td
                                                a(href ='/host/#{room.host_id}/simple_detail')= room.room_title
                                            td= room.room_city
                                            td= moment(room.room_startdate).format('YYYY-MM-DD')
                                            td= moment(room.room_deaddate).format('YYYY-MM-DD')
                                            td.button.btn.btn-primary.btn-xs(data-id=room.id, class='delete')  취소
                    
                    #list.tab-pane.active(role = 'tabpanel')
                         table.table.table-striped.table-bordered
                            thead
                                tr
                                    th 숙소이름
                                    th 도시
                                    th 시작 날짜
                                    th 종료 날짜
                                    th 취소 여부
                            tbody
                                each host in hosts
                                    tr
                                        td
                                            a(href ='/host/#{host.id}/simple_detail')= host.title
                                        td= host.city
                                        td= moment(host.startdate).format('YYYY-MM-DD')
                                        td= moment(host.deaddate).format('YYYY-MM-DD')
                                        td.button.btn.btn-primary.btn-xs(data-id=host.id, class='room_delete')  삭제


                    #successreservation.tab-pane(role = 'tabpanel')
                         table.table.table-striped.table-bordered
                            thead
                                tr
                                    th 숙소이름
                                    th 도시
                                    th 체크인 날짜
                                    th 체크아웃 날짜
                                    th 취소 여부
                            tbody
                                each room in rooms
                                    if(room.reservationState)
                                        tr
                                            td
                                                a(href ='/host/#{room.id}/simple_detail')= room.room_title
                                            td= room.room_city
                                            td= moment(room.room_startdate).format('YYYY-MM-DD')
                                            td= moment(room.room_deaddate).format('YYYY-MM-DD')
                                            td.button.btn.btn-primary.btn-xs(data-id=room.id, class='delete') 취소

      


      



        form#deleteForm(style='display:none', method="POST")
                
        script(type='text/javascript').
            $(".delete").click(function(e) {
                var id = $(e.currentTarget).data('id');
                if (confirm('정말 취소하시겠습니까?')) {
                $("#deleteForm").attr('action', "/host/" + id + "/delete?_method=DELETE").submit();          
                }
                return false;
            });
        script(type='text/javascript').
                $(".room_delete").click(function(e) {
                    var id = $(e.currentTarget).data('id');
                    if (confirm('정말 취소 하시겠습니까?')) {
                    $("#deleteForm").attr('action', "/host/" + id + "/room_delete?_method=DELETE").submit();          
                    }
                    return false;
                });
            

        script(type='text/javascript').
            $(".reject").click(function(e) {
                var id = $(e.currentTarget).data('id');
                if (confirm('정말 거절하시겠습니까?')) {
                $("#deleteForm").attr('action', "/host/" + id + "/reject?_method=DELETE").submit();          
                }
                return false;
            });