extends ../layout
block main
    link(href="/stylesheets/freelancer.min.css" rel="stylesheet")
    .container         
            
              .row#row
                  .col-lg-8.col-lg-offset-2
                      .modal-body
                          h2= host.title
                          |                             
                          hr.star-primary
                          |                             
                          img.img-responsive(src='/#{host.picturePath}', alt = 'picture')
                          |                             
                          p
                            sapn 주소 : #{host.address}
                          p
                            sapn 주소번호 : #{host.addressnumber}
                          p
                            sapn 요금 : #{host.cost}
                          p
                            sapn 편의시설 : #{host.market}  
                          p
                            sapn 이용규칙 : #{host.rule}  
                          p
                            sapn 설명 : #{host.content}

                          p
                            sapn 최대 숙박 인원 : #{host.count}
                          p
                            span 호스팅 날짜 : #{moment(host.createdAt).format('YYYY-MM-DD HH:mm:ss')}          
                          p  
                            span 예약 가능 날짜 : #{moment(host.startdate).format('YYYY-MM-DD') + "부터" + moment(host.deaddate).format('YYYY-MM-DD')}
                          p                     
                            button.btn.btn-default(type='button', data-dismiss='modal')
                              i.fa.fa-times
                              a(href='/')  Close
    
